.about-modal h1 {
    margin-bottom: 0 !important;
}

.about-modal .list-container {
    height: 128px;
    overflow-y: auto;
}

.about-modal .link-container {
    display: flex;
    grid-gap: 1rem;
}