.about-modal h1 {
    margin-bottom: 0 !important;
}

.about-modal .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-modal .link-container {
    display: flex;
    grid-gap: 1rem;
}