main#account .title-container {
    width: 100%;
    justify-content: center;
}

main#account .title-container * {
    color: white !important;
    margin-bottom: 0;
}

main#account .content {
    padding: var(--padding-lg);
}

#logout-btn {
    display: block;
    width: 50%;
    margin: auto;
}