main#browse {
    padding: var(--padding-lg);
    
    height: var(--panel-height);
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#browse h2 {
    margin-bottom: .5rem;
}

ul.results {
    display: flex;
    overflow-y: auto;
    
    padding-right: 1rem; /* For buffer between scrollbar */
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-container {
    display: flex;
    grid-gap: 1rem;
    padding-right: 1rem; /* To better align with search results */
}

.sort-button {
    display: grid;
    grid-template-columns: 2em 12px;
    align-items: center;
    
    user-select: none;
    cursor: pointer;
}

.sort-button > span:first-child {
    margin-right: .25em;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
}