.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h1 {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1rem;
}

.title-container button {
    border: none;
    box-shadow: none;
}