header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid var(--divider-color);
}

header .logo {
    font-size: 16pt;
    
    color: var(--text-color);
    background: none !important;
    
    padding: 0;
}

header button {
    font-weight: 400 !important;
}

header > div {
    display: flex;
}

header .user-btn {
    display: flex;
    align-items: center;
    grid-gap: 8px;
}