/*
Most of the CSS below is to enable scrolling in a div with responsive height.
(i.e., to scroll the play text only, without scrolling the parent div as well)
EVERYTHING is flex!!
*/

#play-viewer {
    display: flex;
    grid-gap: 32px;
    overflow-y: auto;
}

#play-viewer h3:not(:first-child) {
    margin-top: 1rem;
}

#play-viewer aside {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    min-width: 250px;
}

#play-viewer aside p {
    margin: 0;
}

#play-viewer section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

#play-viewer .ant-divider {
    height: 100%;
}