@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap');

:root {
    /*
    Some variables are grabbed from less and stored here in CSS just to make my
    life a little easier. Recompiling a .less file is SLOW.
    */
    
    --layout-header-height: @layout-header-height;
    
    --primary-color: @primary-color;
    --primary-color-hover: @primary-color-hover;
    --info-color: @info-color;
    --text-color: @text-color;
    --text-color-secondary: @text-color-secondary;
    --divider-color: @divider-color;
    
    --padding-lg: @padding-lg;
    --padding-md: @padding-md;
    --padding-sm: @padding-sm;
    
    /*
    Regular variables below
    */
    
    /* Height of content panels, i.e. full screen height minus header */
    --panel-height: calc(100vh - var(--layout-header-height));
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-bottom: 0;
}

ul { padding: 0; }
li { list-style: none; }

.logo {
    user-select: none;
}

button {
    font-weight: 500 !important;
}

.ant-btn-primary {
    text-transform: uppercase;
}

/*
Custom scrollbar
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--divider-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-hover);
}